@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-card">
      <div class="mdl-card__media">
        <h1 class="mdl-card__title-text">Pierre's @Model.Name</h1>
      </div>
      <div class="mdl-card__supporting-text">
        @if(@Model.Flavors.Count == 0)
          {
            <p>Do not order this treat.  It lacks flavor.</p>
          }
          else
          {
            <p>Contains notes of:</p>
            @foreach(var join in Model.Flavors)
            {
              <h4>@join.Flavor.Name</h4>
              @using (Html.BeginForm("DeleteFlavor", "Treats"))
              {
                @Html.Hidden("joinId", @join.FlavorTreatId)
              }
            }
          }
      </div>
      <div class="mdl-card__actions">
        @if (User.Identity.IsAuthenticated)
        {
          <p>@Html.ActionLink("Home", "Index", "Home")</p>
          <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
          <p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
        }
        else
        {
          <p>@Html.ActionLink("Home", "Index", "Home")</p>
        }
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>