@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-card">
      <div class="mdl-card__media">
        <h1 class="mdl-card__title-text">@Model.Name</h1>
      </div>
      <div class="mdl-card__supporting-text">
        @if(@Model.Flavors.Count == 0)
          {
            <p>Do not order this treat.  It lacks flavor.</p>
          }
          else
          {
            <h4>Pierre's @Model.Name contains notes of:</h4>
            @foreach(var join in Model.Flavors)
            {
              <p>@join.Flavor.Name</p>
              @using (Html.BeginForm("DeleteFlavor", "Treats"))
              {
                @Html.Hidden("joinId", @join.FlavorTreatId)
              }
            }
          }
      </div>
      <div class="mdl-card__actions">
        <p>@Html.ActionLink("Back to list", "Index")</p>
        <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
        <p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>